header > h1 {
    text-align: center;
}

header {
    height: 75px; /* For now, I don't really like making stuff px specific. */
    background-color: #8C8C8C;

    /*
    * Firefox adds a whitespace border above if these 2 are not set. 
    */
    display: inline-block;
    width: 100%; 
}